<div>   
    <mat-accordion class="panel">
        <mat-expansion-panel hideToggle class="w-100">
          <mat-expansion-panel-header>
            <mat-panel-title> Agregar curso</mat-panel-title>
          </mat-expansion-panel-header>
          <mat-panel-description>
            Agregar datos del nuevo curso
          </mat-panel-description>
         
          <form [formGroup]="cursosForm">

            <mat-form-field class="fill">
              <mat-label>Nombre</mat-label>
              <input type="text" [formControl]="nombreControl" matInput placeholder="Ingrese nombre" required>
            </mat-form-field>
          
          <mat-form-field class="fill">
            <mat-label>Descripcion</mat-label>
            <input type="text" [formControl]="descripcionControl" matInput placeholder="Ingrese Descripcion" required>
          </mat-form-field>

          <mat-form-field class="fill">
            <mat-label>Horas del curso</mat-label>
            <input [formControl]="horasControl" matInput type="number" placeholder="Ingrese horas" required>
          </mat-form-field>

          <mat-form-field class="fill">
            <mat-label>Fecha inicio</mat-label>
            <input [formControl]="fechaControl" matInput type="date" placeholder="Ingrese fecha inicio">
          </mat-form-field>
        
        <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">Agregar</button>
        <small class="alert alert-danger ml-2"  *ngIf="mensaje">{{ mensaje }} </small>
      </form>  
        </mat-expansion-panel>
    </mat-accordion>

    <table mat-table [dataSource]="(cursos$ | async ) || []" class="mat-elevation-z8 tabla">
  
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>
  
    <ng-container matColumnDef="descripcion">
      <th mat-header-cell *matHeaderCellDef> Descripcion </th>
      <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
    </ng-container>
  
    <ng-container matColumnDef="horasTotal">
      <th mat-header-cell *matHeaderCellDef> Horas del curso </th>
      <td mat-cell *matCellDef="let element"> {{element.horasTotal}} </td>
    </ng-container>
    
    <ng-container matColumnDef="fechaInicio">
        <th mat-header-cell *matHeaderCellDef> Fecha de inicio </th>
        <td mat-cell *matCellDef="let element"> {{element.fechaInicio | date}} </td>
      </ng-container>
    
    <ng-container matColumnDef="editar">
        <th mat-header-cell *matHeaderCellDef> Editar </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" (click)="editCurso(element)">
            <mat-icon>edit</mat-icon></button></td>
      </ng-container>

      <ng-container matColumnDef="eliminar">
        <th mat-header-cell *matHeaderCellDef> Eliminar </th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="warn" (click)="borrarCurso(element)">
                <mat-icon>delete</mat-icon></button>
        </td>
      </ng-container>

      <ng-container matColumnDef="ver cursos">
        <th mat-header-cell *matHeaderCellDef> Ver alumnos </th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" (click)="verCursos(element)">
                <mat-icon>edit_note</mat-icon></button>
            </td>
      </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

