<h2 class="text-center" style="font-weight:bolder;"> Inscripcion alumnos a cursos </h2>

<h3> Curso selecionado: {{curso.nombre}} </h3>
<table class="table">
    <thead>
        <tr class="table-primary">
            <th scope="col">Id Alumno</th>
            <th scope="col">Nombre Alumno</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-light">
            <th scope="row">{{curso.alumnos.idAlumno}}</th>
            <td>{{curso.alumnos.nombreAlumno}}</td>
            <td *ngIf="(curso.alumnos.idAlumno)">
            <button mat-raised-button color="primary" (click)="Desinscribir()">Desinscribir</button></td>
        <tr>
    </tbody>
</table>

<h5 class="text-center">Alumnos</h5>
<div class="p-20 d-flex gap-20 flex-wrap m-3">
    <div *ngFor="let alumno of (alumno$ | async)">
        <mat-card class="color-info m-3">
            <mat-card-header>
                <mat-card-title>{{alumno.nombres}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>{{alumno.apellido}}</p>
                <p>{{alumno.estado}}</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button color="primary" (click)="datosCurso(alumno.id, alumno.nombres)">Inscribir</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button color="primary" [matDialogClose] (click)=Cerrar() cdkFocusInitial>Cerrar</button>
    </div>
</div>
