<div class="contenedor flex max-w-full max-h-full">
    <form [formGroup]="formulario" class="form">
        <h2 class="login-header">Inicia sesión</h2>
        <div class="col-12">
            <mat-label>Correo electrónico</mat-label>
            <input matInput placeholder="ejemplo@empresa.com" formControlName="email">
        </div>
        <div class="col-12">
            <mat-label>Contraseña</mat-label>
            <input type="password" matInput placeholder="Contraseña" formControlName="password">
        </div>
        <div class="col-12">
          <button  id="buttonInicio" class="form-button" (click)="login()">Iniciar sesión</button>
        </div>
    
        
        
        <form [formGroup]="formUser" [hidden]="tokenOK == false">
        <h5>Seleccione su usuario</h5>
        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
        [formControl]="controlUsuario"
        (change)="capturar()">
            <option *ngFor="let user of User$ | async" 
            value={{user.id}}
            >{{user.first_name}}</option>  
        
        </select>        
    </form>
</form>

    

                
    
    
        
   
</div>

